.productboxOne {
    position: absolute;
    left: 300px;
    top: 50px;
    width: 300px;
    background-color:#ffffff;
    padding:10px;
    margin-bottom:10px;
    -webkit-box-shadow: 0 8px 6px -6px  #999;
    -moz-box-shadow: 0 8px 6px -6px  #999;
    box-shadow: 0 8px 6px -6px #999;
}

.productboxTwo {
    position: absolute;
    left: 650px;
    top: 50px;

    width: 300px;
    background-color:#ffffff;
    padding:10px;
    margin-bottom:10px;
    -webkit-box-shadow: 0 8px 6px -6px  #999;
    -moz-box-shadow: 0 8px 6px -6px  #999;
    box-shadow: 0 8px 6px -6px #999;
}

.producttitle {
    font-weight:bold;
    padding:5px 0 5px 0;
}

.productprice {
    border-top:1px solid #dadada;
    padding-top:5px;
}

.pricetext {
    font-weight:bold;
    font-size:1.4em;
}


.btn-primary{
    width: 200px;
    height: 100px;
}

.btn-dark{
    width: 200px;
    height: 100px;
}

.panel-default {
    width: 800px;
    margin: auto;
}

.searchOne {
    width: 670px;
    position: absolute;
    left: 300px;
    top: 200px;
}

.searchTwo {
    width: 670px;
    position: absolute;
    left: 300px;
    top: 300px;
}